img/
log/
vid/
sav/sav.zip
sav/PCD256_archive.vkpat.zip
imgui.ini
app/RunVulkanAutomataGLFW
out/
sav/PCD256_global_all.vkpat
sav/PCD256_global_all.vkpat.2025
sav/PCD256_archive.vkpat
app/frag_automata0000.spv
