img/
log/
vid/
sav/sav.zip
sav/PCD256_archive.vkpat.zip
imgui.ini
app/RunVulkanAutomataGLFW
out/
sav/PCD256_global_all.vkpat
sav/PCD256_global_all.vkpat.2025
sav/PCD256_archive.vkpat
app/frag_automata0000.spv
gif/
app/frag_automata0000.spv
imgui.ini
/.pathwarden/records/2026-05/72c93bd3-af0f-4968-a254-c9bd1fa4f8a5.json
/.pathwarden/
/.grit/
